## a) Iterable objects:

In [1]:
# Lists, strings, tuples, dictionaries, and sets that can be looped over and produce elements 
# one at a time are iterable objects

In [2]:
a = [1, 2, 3]

for item in a:
    print(item)

1
2
3

In [3]:
b = "hello"

for char in b:
    print(char)

h
e
l
l
o

In [4]:
c = (10, 20, 30)

for item in c:
    print(item)

10
20
30

In [5]:
d = {'a': 1, 'b': 2}

for key in d:
    print(key, d[key])

a 1
b 2

In [6]:
e = {1, 2, 3}

for item in e:
    print(item)

1
2
3

## b) Non-Iterable objects:

In [7]:
#  Integers and floats cannot be looped over, leading to a TypeError when attempted

In [8]:
num = 5

for item in num:  # This will raise a TypeError
    print(item)

TypeError: 'int' object is not iterable

In [9]:
f_num = 3.14

for item in f_num:  # This will raise a TypeError
    print(item)

TypeError: 'float' object is not iterable

## c) zip, range, enumerate:

In [10]:
# zip (forms 2 iterable elements together):

names = ["Aksh", "Mahe", "Rake", "Nali"]
numbers = [4, 7, 7, 5]
tuple(zip(names, numbers))

(('Aksh', 4), ('Mahe', 7), ('Rake', 7), ('Nali', 5))

In [11]:
list(zip(names, numbers))

[('Aksh', 4), ('Mahe', 7), ('Rake', 7), ('Nali', 5)]

In [12]:
dict(zip(names, numbers))

{'Aksh': 4, 'Mahe': 7, 'Rake': 7, 'Nali': 5}

In [13]:
set(zip(names, numbers))

{('Aksh', 4), ('Mahe', 7), ('Nali', 5), ('Rake', 7)}

In [14]:
# range:

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
set(range(-10,10))

{-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
tuple(range(100, 200, 10))

(100, 110, 120, 130, 140, 150, 160, 170, 180, 190)

In [17]:
# enumerate (gives the values with it's index values):

tuple(enumerate(names))

((0, 'Aksh'), (1, 'Mahe'), (2, 'Rake'), (3, 'Nali'))

In [18]:
list(enumerate(numbers))

[(0, 4), (1, 7), (2, 7), (3, 5)]

In [19]:
set(enumerate(numbers))

{(0, 4), (1, 7), (2, 7), (3, 5)}

In [20]:
dict(enumerate(names))

{0: 'Aksh', 1: 'Mahe', 2: 'Rake', 3: 'Nali'}

## d) Conditional statements:

In [21]:
# if:

age = float(input("Enter your age: "))

if age >= 18:
    print("Eligible")

print("Done!")

Enter your age: 22
Eligible
Done!

In [22]:
# if - else:

age = float(input("Enter your age: "))

if age >= 18:
    print("You are eligible")
else:
    print("You are not eligible")

print("Done!")

Enter your age: 22
You are eligible
Done!

In [23]:
# single statement using if - else:

age = float(input("Enter your age: "))
"ELigible" if age >= 18 else "Not Eligible"

Enter your age: 3

'Not Eligible'

In [24]:
# if - else & inner if - else inside if, using try - except:

age = input("Enter your age: ")

try:
    age = float(age)
    
    if (age >= 0) and (age <= 120):
        
        if age >= 18:
            print("You are eligible")
        else:
            print("You are not eligible")
            
    else:
        print("Invalid input! Age must be between 0 and 120.")
        
except ValueError:
    print("Invalid input! Please enter a valid number.")

print("Done!")

Enter your age: 56
You are eligible
Done!

In [25]:
# if - else using for:

ages = [19, 4, 24, 80, "Akshsen"]

for age in ages:
    
    if isinstance(age, (int, float)):
        
        if (age > 0) and (age <= 120):
            
            if age >= 18:
                print("You are eligible")
            else:
                print("You are not eligible")
                
    else:
        print("Invalid input!")
        
print("Done!")

You are eligible
You are not eligible
You are eligible
You are eligible
Invalid input!
Done!

In [26]:
# if - elif - else

age  = input("Enter your age: ")

try:
    age = float(age)
    
    if (age < 0) or (age > 120):
        print("Invalid")
        
    elif (age >= 18):
        print("Eligible")
        
    else:
        print("Not eligible")
        
except ValueError:
    print("The given input isn't a number")

print("Done!")

Enter your age: 14
Not eligible
Done!

In [27]:
# if - elif - else:

age = input("Enter you age: ")

try:
    age = float(age)
    
    if (age < 0):
        print("Invalid")
        
    elif (age > 120):
        print("Invalid")
        
    elif (age >= 18):
        print("Eligible")
        
    else:
        print("Invalid input!")

except ValueError:
    print("Invalid input, not a number!")
    
print("Done!")

Enter you age: A
Invalid input, not a number!
Done!

In [28]:
# for, if - elif - else:

ages = [1, 4, 43, "Akshen", 60.8]

for age in ages:
    
    if isinstance(age, (int, float)):
        
        if (age < 0): 
            print("Invalid")
        
        elif (age > 120):
            print("Invalid")
        
        elif (age >= 18):
            print("You are eligible")
            
        else:
            print("You are not eligible")
        
    else:
        print("Invalid input! Not a number")
        
print("Done!")

You are not eligible
You are not eligible
You are eligible
Invalid input! Not a number
You are eligible
Done!