## List

In [1]:
# a) index & slicing:

In [2]:
num_list = []
num_list

[]

In [3]:
type(num_list)

list

In [4]:
num_list=["python", 80, 80.9, True, 10+5j]
num_list

['python', 80, 80.9, True, (10+5j)]

In [5]:
num_list[0][-3]

'h'

In [6]:
num_list[-2]

True

In [7]:
num_list[1:5]

[80, 80.9, True, (10+5j)]

In [8]:
num_list[:-3]

['python', 80]

In [9]:
# b) mutable?

In [10]:
num_list[0] = "mysql"
num_list #can change the value, unlike string; it's mutable!

['mysql', 80, 80.9, True, (10+5j)]

In [11]:
num_list[:2]=["python", 90]
num_list

['python', 90, 80.9, True, (10+5j)]

In [12]:
num_list = ["python", 80, [80.9, 99, 210]  ]
num_list[2][0 : 2] = [110,130]
num_list

['python', 80, [110, 130, 210]]

In [13]:
for i in num_list:
    print(i)

python
80
[110, 130, 210]

In [14]:
# c) #checking length:
len(num_list)

3

In [15]:
# d) list methods:

print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [16]:
# 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort

In [17]:
num_list

['python', 80, [110, 130, 210]]

In [18]:
# add values via different means (append, extend, insert):

# append:
num_list.append("java") #adds single value at a time

In [19]:
num_list.append(["ds", "ml"]) #does add two values but as 1 list

In [20]:
num_list

['python', 80, [110, 130, 210], 'java', ['ds', 'ml']]

In [21]:
# extend:
# Adds multiple elements to the end of the list. This method takes an iterable (like a list, tuple, or set)
num_list.extend(num_list)
num_list

['python',
 80,
 [110, 130, 210],
 'java',
 ['ds', 'ml'],
 'python',
 80,
 [110, 130, 210],
 'java',
 ['ds', 'ml']]

In [22]:
# insert: requires index number & a value
num_list.insert(1, 'a')
num_list # adds a at index 1

['python',
 'a',
 80,
 [110, 130, 210],
 'java',
 ['ds', 'ml'],
 'python',
 80,
 [110, 130, 210],
 'java',
 ['ds', 'ml']]

In [23]:
# count:
num_list.count("java")

2

In [24]:
# index:
num_list.index(80)

2

In [25]:
num_list.index(80, 4) #want to see when does 80 comes after index 4

7

In [26]:
# operations (only + & *):
list1 = [1,2,3,4]
list2 = [4,5,6,7]
list3 = list1 +list2
list3

[1, 2, 3, 4, 4, 5, 6, 7]

In [27]:
list1 = [1,2,3,4]
list4 = list1*3
list4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [28]:
# delete (remove, pop, clear):
num_list

['python',
 'a',
 80,
 [110, 130, 210],
 'java',
 ['ds', 'ml'],
 'python',
 80,
 [110, 130, 210],
 'java',
 ['ds', 'ml']]

In [29]:
# remove: 
# removes the first occurrence of a specified value from the list
num_list.remove(80)
num_list

['python',
 'a',
 [110, 130, 210],
 'java',
 ['ds', 'ml'],
 'python',
 80,
 [110, 130, 210],
 'java',
 ['ds', 'ml']]

In [30]:
# pop: 
# a) in default conditions, removes the last element, 
# b) while stating index, it removes the given element

num_list.pop()
num_list

num_list.pop(4)
num_list

['python', 'a', [110, 130, 210], 'java', 'python', 80, [110, 130, 210], 'java']

In [31]:
# clear:
# clears entire list!

num_list.clear()
num_list

[]

In [32]:
# reverse, short, copy:

In [33]:
list3

[1, 2, 3, 4, 4, 5, 6, 7]

In [34]:
# reverse:
list3.reverse()
list3

[7, 6, 5, 4, 4, 3, 2, 1]

In [35]:
# sort:
# ascending:
list3.sort()
list3

[1, 2, 3, 4, 4, 5, 6, 7]

In [36]:
# decending:
list3.sort(reverse=True)
list3

[7, 6, 5, 4, 4, 3, 2, 1]

In [37]:
list3.append("Akshen")
list3

[7, 6, 5, 4, 4, 3, 2, 1, 'Akshen']

In [38]:
list3.sort()
list3 # it should be in 1 data type, different won't workout!

TypeError: '<' not supported between instances of 'str' and 'int'

In [39]:
list7 = ["Akshen", "Maher", "Nalini", "Rakesh"]
list7

['Akshen', 'Maher', 'Nalini', 'Rakesh']

In [40]:
list7.sort()
list7

['Akshen', 'Maher', 'Nalini', 'Rakesh']

In [41]:
# copy: helps to save the original value and can work on duplicate values

In [42]:
list5 = list1.copy()
list5

[1, 2, 3, 4]

In [43]:
list1.append(45)
print(list1)
print(list5)

[1, 2, 3, 4, 45]
[1, 2, 3, 4]

## Tuple

In [44]:
t1=()
type(t1)

tuple

In [45]:
# a) ways to add:

# i) 
t1=(10,)
print(t1)
print(type(t1))

(10,)
<class 'tuple'>

In [46]:
# ii) 
t2 = 10, 20, 30
print(t2)
print(type(t2))

(10, 20, 30)
<class 'tuple'>

In [47]:
# b) indexing:

In [48]:
t3 = (10, "python", 10.2, True, 10+5j, [10, 20, 30], ("python", "java"))
t3

(10, 'python', 10.2, True, (10+5j), [10, 20, 30], ('python', 'java'))

In [49]:
t3[-2]

[10, 20, 30]

In [50]:
# c) mutable?

In [51]:
t3[0]=200

TypeError: 'tuple' object does not support item assignment

In [52]:
# d) append?

In [53]:
t3[-2].append(120)
t3

(10, 'python', 10.2, True, (10+5j), [10, 20, 30, 120], ('python', 'java'))

In [54]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [55]:
# e) repetation via operations (+, *):
print(t1)
print(t2)

print(t1+t2)
print(t1*2)

(10,)
(10, 20, 30)
(10, 10, 20, 30)
(10, 10)

In [56]:
# f) length:
len(t1)

1

In [57]:
# g) change data type:

# tuple to list:
print(list(t2))

#list to tuple:
print(tuple(t2))

[10, 20, 30]
(10, 20, 30)

In [58]:
# h) min, max, sum, sorted:

# i) min:
print(min(list(t2)))
print(min(t2))

10
10

In [59]:
# ii) max:
print(max(list(t2)))
print(max(t2))

30
30

In [60]:
max('pyhton')

'y'

In [61]:
# iii) sum:
print(sum(list(t2)))
print(sum(t2))

60
60

In [62]:
# iv) sort (only for list):
my_list = [3, 1, 2]
my_list.sort()  
print(my_list)

[1, 2, 3]

In [63]:
#v) sorted (for tuple): 
# a) returns a new sorted list, 
# b) doesn’t modify the original iterable.
my_tuple = (3, 1, 2)
t7 = sorted(my_tuple) 
print(t7) 
print(my_tuple)  # Original tuple remains unchanged: (3, 1, 2)

[1, 2, 3]
(3, 1, 2)

In [64]:
sorted(t7, reverse=True)

[3, 2, 1]

In [65]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

In [66]:
ord("y")

121