In [1]:
# 1) Operators:

In [2]:
# a) Arithmetic:

In [3]:
x = 10
y = 20

a = x+y 
b = y-x 
c = x*y 
d = x**y
e = x/y #quotient
f = x//y #quotient's first value
g = x%y #remainder
h = x**(1/5)-y
print(a,b,c,d,e,f,g,h, sep="\n")

30
10
200
100000000000000000000
0.5
0
10
-18.415106807538887

In [4]:
# b) 
# BODMAS: (Bracket, Order, Division, Multiplication, Add, Subtract)
# PEDMAS: (Parentheses, Exponents, Divide, Multiply, Add, Substract) 

# Solve: () -> power (square, cube) -> divide, multiply, add, aubstract:

In [5]:
10+1/2-(5-7**4)
#first solve: 7**4 that's 2401
#secondly, bracket: 5-2401 = (-2396)
#thirdly, -(-2396): +2396
#next: 10+1/2
#finally, 10.5+2396=2406.5

2406.5

In [6]:
# c) on str:

In [7]:
s1="Hello "
s2="Python"

s=s1+s2
s

'Hello Python'

In [8]:
s*2
# *: self replication
# +: concatenation

'Hello PythonHello Python'

In [9]:
10+s

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [11]:
True+False

1

In [12]:
# d) Assignment operator (=, +=, -=, *=, /=, //=, %=, **=):

In [13]:
A=20
print(A)

20

In [14]:
A += 10 #same as A = A + 10
A
#similarly, do for the rest!

30

In [15]:
s*=2
s

'Hello PythonHello Python'

In [16]:
# e) Relational Operator (>, <, >=, <=, ==, !=):

In [17]:
A = 25
B = 50

In [18]:
print(A>B)
print(A<B)
print(A>=B)
print(A<=B)
print(A==B)
print(A!=B)

False
True
False
True
False
True

In [19]:
True < False

False

In [20]:
(10+5j) > 45

TypeError: '>' not supported between instances of 'complex' and 'int'

In [21]:
s = 'pYthon'
S = 'pytHon'

s>=S

# WHY? --> Due to "ASCII", every charcter has an assigned value

False

In [22]:
print(ord("y"))
print(ord("Y"))

121
89

In [23]:
print(chr(121))
print(chr(89))

y
Y

In [24]:
# f) Relational operators with and, or, not or

In [25]:
def biodata():
    name = input("Enter your name: ")
    age = float(input("Enter your age: "))
    
    if name == "Akshen" and age == 24:
        print("Myself ", name, " aged:", age)
    else:
        print("False")
                
    return name, age

In [26]:
biodata()

Enter your name: Akshen
Enter your age: 16
False

('Akshen', 16.0)

In [27]:
def biodata1():
    name = input("Enter your name: ")
    age = float(input("Enter your age: "))
    
    if name == "Akshen" or age == 24:
        print("Myself ", name, " aged:", age)
    else:
        print("False")
                
    return name, age

In [28]:
biodata1()

Enter your name: Akshen
Enter your age: 24
Myself  Akshen  aged: 24.0

('Akshen', 24.0)

In [29]:
def biodata2():
    name = input("Enter your name: ")
    age = float(input("Enter your age: "))
    
    if name != "Akshen" or age <= 24:
        print("Myself ", name, " aged:", age)
    else:
        print("False")
                
    return name, age

In [30]:
biodata2()

Enter your name: Akshen
Enter your age: 7
Myself  Akshen  aged: 7.0

('Akshen', 7.0)

In [31]:
age = float( input("Enter your age - ")  )
c = input("Enter your country - ")
not (  (age >= 18)  or  (c=="india")  )

Enter your age - 45
Enter your country - India

False

In [32]:
# g) Membership operator - in, not in
# collection types - str, list, tuple, set, dict
s

'pYthon'

In [33]:
#true or false (present, not present)
"p" in s

True

In [34]:
"pn" in s

False

In [35]:
"Yt" not in s

False

In [36]:
# h) Bitwise operator (&, |, ^, ~, <<, >>):

In [37]:
print(bin(6))
print(bin(3))
print(bin(2))
print(bin(7))
print(bin(5))
print(bin(-7))
print(bin(10))

0b110
0b11
0b10
0b111
0b101
-0b111
0b1010

In [38]:
# & (and):
a = 6  # 110 in binary
b = 3  # 011 in binary

result = a & b  # 110 & 011 = 010 (2 in decimal)
print(result)  # Output: 2

2

In [39]:
# | (or):
a = 6  # 110 in binary
b = 3  # 011 in binary

result = a | b  # 110 | 011 = 111 (7 in decimal)
print(result)  # Output: 7

7

In [40]:
# ^ (xor):
a = 6  # 110 in binary
b = 3  # 011 in binary

result = a ^ b  # 110 ^ 011 = 101 (5 in decimal)
print(result)  # Output: 5

5

In [41]:
# ~ (not):
a = 6  # 110 in binary

result = ~a  # ~110 = 001...001001 (inverted to -7 in decimal due to two's complement)
print(result)  # Output: -7

-7

In [42]:
# << (left shift: adds):
a = 5  # 101 in binary

result = a << 1  # 101 << 1 = 1010 (10 in decimal)
print(result)  # Output: 10

10

In [43]:
# >> (right shift: removes):
a = 5  # 101 in binary

result = a >> 1  # 101 >> 1 = 10 (2 in decimal)
print(result)  # Output: 2

2