In [1]:
# 1) Basic:

In [2]:
age = 21 # key = age, value = 21
age

name = 'Akshen' #key = name, value = Akshen
name

print(age, name) # 1) together

print(age, name, sep='\n') # 2) next line

print(f"{age}\n{name}") # 3) next line using \n

print(age, name, end='\n') # 4) end & next line
print(age)

print(age, name, end=',') # 5) sep and continues 2nd line
print("This is my bio")

21 Akshen
21
Akshen
21
Akshen
21 Akshen
21
21 Akshen,This is my bio

In [3]:
print("My name is", name,",", "aged", age) #entire in 1 line

My name is Akshen , aged 21

In [4]:
print() #leaves space as much as we want
print()

In [5]:
print("Hello World") # 1) 1 line together
print("Hello \nWorld") # 2) new line
print("Hello World", end=",") 
print(" How are you?") # 3) ends and immediately joins 2nd line
print("Hello", "World", sep = "\n") # 4) new line

Hello World
Hello
World
Hello World, How are you?
Hello
World

In [6]:
print("Hello", "World", sep = "\t") # tab space

Hello	World

In [7]:
# 2) input:

In [8]:
# a) we give:

m1= 2
m2= 4

print(m1, m2, m1+m2, sep =",") # 1) ,
print(m1, m2, m1+m2, sep ="\n") # 2) new line
print(m1, m2, m1+m2, sep ="\t") # 3) tab space

print() # 4) space

print(m1, m2, m1+m2, end =",") # 5) in end ,and continous the next line
print(m1, m2, m1+m2, end ="\n") 

print(m1, m2, m1+m2, end ="\t") # 6) new line, as it's \n later due to '\t' space and the next line continous 
print(m2)

2,4,6
2
4
6
2	4	6

2 4 6,2 4 6
2 4 6	4

In [9]:
# b) user gives:

input() # 1) empty input

input("Enter your name: ") # 2) gives the input with your name, with a title

Akshen
Enter your name: Akshen

'Akshen'

In [10]:
age= input("Your age is: ")
print(age)

id(age) # variables are named memory location

age

Your age is: 24
24

'24'

In [11]:
# 3) Rules:

In [12]:
9A = 20 # 1) cannot start with a number

SyntaxError: invalid decimal literal (3991477717.py, line 1)

In [13]:
A9 = 20 # it wors as it starts with alphabet
A9

20

In [14]:
A@ = 20 
A@
# 2) cannot have any special character other than _, as seen below!

SyntaxError: invalid syntax (488146227.py, line 1)

In [15]:
A_ = 20 # it works as it's: A_
A_

20

In [16]:
y = 200
Y 
# 3) case sensitive, if the variable/key is y, write y; Y won't work!

NameError: name 'Y' is not defined

In [17]:
Y = 200
y = 20
print(y, Y) # proof

20 200

In [18]:
first num = 20 # 4) no space between the variable name/key

SyntaxError: invalid syntax (3257994565.py, line 1)

In [19]:
first_num = 20
first_num

20

In [20]:
print = hello # 5) python keyword should not be used as a variable name

NameError: name 'hello' is not defined

In [21]:
# 4) practise:

In [22]:
name = input("Enter your name: ")
age = input ("Your age is: ")

print("Hello", name, end=",")
print(" How are you doing and what is your current age? It's", age, end="!")

Enter your name: Akshen
Your age is: 24
Hello Akshen, How are you doing and what is your current age? It's 24!

In [23]:
# other methods:
print("Name is {} and age is {}".format(name,age))

print(f"Name is {name} and age is {age}")

Name is Akshen and age is 24
Name is Akshen and age is 24

In [24]:
# 5) user defined functions:

In [25]:
def Total (first_num, second_num): # Total = function name
    total = first_num + second_num # total = variable name, first_num & second_num = input value
    return total # return = the final value is returned/called

In [26]:
Total (45, 45)

90

In [27]:
def Avg(first_num, second_num): #Avg = function name
    total = first_num + second_num
    return total/2 # returns total value but dividing by 2!

In [28]:
Avg (40, 2)

21.0